body {
  background-color: lightblue;
}

h{
  color: black;
  text-align: center;
  font-size: 50px;
}

h1,h2,h3,h4,h5,h6 {
  color: black;
  text-align: center;
  font-style: oblique;
  font-size: 30px;
}

img{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
