body {
  background-color: lightblue;
}

h{
  color: orangered;
  font-size: 50px;
  text-align: center;
  font-family: fantasy ;
}

h1,h2,h3,h4,h5,h6 {
  color: black;
  /* text-align: center; */
  font-family: Georgia, 'Times New Roman', Times, serif
}

img{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#main{
  background: white;
   padding: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

#heading
{   width: 40px;
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  
